<nz-layout>
    <nz-header>
      <div class="logo">
          <img src="../../assets/img/Logo.svg" alt="Logo">
      </div>
      <ul nz-menu nzMode="horizontal">
        <li nz-menu-item>Главная</li>
        <li nz-menu-item>Календарь</li>
        <li nz-menu-item>Тприфы и наличие мест</li>
        <li nz-menu-item>Брони и заявки</li>
        <li nz-menu-item>Тур Агенства</li>
        <li nz-menu-item>Гостиница</li>
      </ul>
      <div class="user-menu">
          <ul uz-menu nzMode="horizontal">
                <li nz-menu-item>
                    <i nz-icon nzType="home" nzTheme="outline"></i>
                </li>
                <li nz-menu-item>
                  <nz-badge [nzCount]="9">
                    <i nz-icon nzType="bell" nzTheme="outline"></i>
                  </nz-badge>>
                </li>
                <li nz-menu-item>
                    <nz-avatar nzIcon="user"></nz-avatar>
                </li>
          </ul>
      </div>
    </nz-header>
    <nz-content>
        <app-calendar></app-calendar>    
    </nz-content>
 </nz-layout>
