/* You can add global styles to this file, and also import other style files */
.ant-avatar {
    .anticon {
        margin: 0;
        font-size: 16px
    } 
}

.table-container {
    nz-picker {
        width: 100%;
    
        .ant-calendar-picker {
            width: 100%;
        }
    }
}

.table-row {
    .ant-card {
        border-radius: 4px;

        .ant-card-head {
            text-align: center;
            background-color: #FAFAFA;
        }
    }
}


